<template>
    <div>
        
        <h2> Articles </h2>
        <ul v-if="articles && articles.length">
            <li v-for="article in articles" :key="article.title"> 
                <a @click="selectArticle(article)"
                href="#" 
                class="no-underline p-2 block border-gray 
                border border-b-0 text-teal hover:bg-teal-lightest">
                
                {{article.title}}

                </a>
                
            </li>   
        </ul>
    </div>
    
</template>

<script>
export default {
    props:['articles'],
    methods:{
        selectArticle(article){
            this.$emit('onSelectArticle',article);
        }
    }
}
</script>
