<template>
    <div>
      <h1 class="mb-4"> Feeds </h1>

      <ul v-if="feeds && feeds.length" class="list-reset sticky pin-t border-b border-gray" >
          <li v-for="feed in feeds" :key="feed.title">
              <a @click="selectFeed(feed)"
              href="#"
              class="no-underline p-2 block border-gray 
              border border-b-0 text-teal hover:bg-teal-lightest">
                {{ feed.title }}
              </a>
         </li>  
      </ul>
    </div>
        
</template>

<script>
export default {
    props:['feeds'],

    methods: {
      selectFeed(feed){
        this.$emit('onSelectFeed', feed);
      }
    }
}
</script>

