<template>
  <div v-if="article">
    <h2 class="mb-4"> {{article.title}} </h2>

    <p v-html="article.content">
      
    </p>

    <a :href="article.link"
       target="_blank"
       rel="noopener"
       class="inline-block bg-teal hover:bg-teal-dark text-white 
       font-bold py-2 px-4 no-underline" 
    >

      View Original

    </a>     
  </div>
    
</template>
<script>
export default {
  props:['article']
}
</script>
